<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<body>

<nav class="w3-bar w3-black">
  <a href="/" class="w3-button w3-bar-item">Home</a>
  <a href="/driverform" class="w3-button w3-bar-item">Register Driver</a>
  <a href="/carform" class="w3-button w3-bar-item">Register Car</a>
  <a href="/cars" class="w3-button w3-bar-item">Display Drivers</a>
</nav>

<section class="w3-container w3-center w3-content" style="max-width:600px">
  <h2 class="w3-wide">DJANGO WEB APPLICATION</h2>
  <p class="w3-opacity"><i>WITH POSTGRE SQL</i></p>
  <p class="w3-justify">This is a web application made with django framework and Postgre SQL Backend.<br>In this web-app, one can register drivers with their name and license.
   Also, we can register cars along with their owner details.<br> Furthermore, we can fetch the details of currently registered drivers and their cars.</p>
</section>

<footer class="w3-container w3-padding-64 w3-center w3-black w3-xlarge">
  <a href="#"><i class="fa fa-facebook-official"></i></a>
  <a href="#"><i class="fa fa-pinterest-p"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-flickr"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>

</footer>

</body>
</html>

